{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>{{fruit.name}}</h2>
            <h4>
                {% if fruit.readyToEat %}
                    Ripe and Ready
                {% else %}
                    Not Ripe, Not Ready
                {% endif %}
            </h4>
            <h4>The color of this fruit is: {{fruit.color}}</h4>
            {% if fruit.owner == userId %}
                <div class="btn-group">
                    {%- comment -%} first button will send us to the edit page {%- endcomment -%}
                    <a class="btn btn-primary" href="/fruits/edit/{{fruit.id}}">Edit</a>
                    {%- comment -%} the second button(which will actually be a form, will send a DELETE request) {%- endcomment -%}
                    <form action="/fruits/{{fruit.id}}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            {% endif %}
        </article>
    </div>
{% endblock %}